<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cake Shop</title>
</head>
<body style="text-align: center; background-color: rgb(223, 190, 211); color: rgb(109, 20, 57);">
  <!-- navigation -->
  <a href="/deserts">Browse Desserts</a>

  <h1>Welcome to the Desserts Collection App!</h1>
  <img src="https://media.giphy.com/media/OCFwUUNfOcNtm/giphy.gif" width="100px"/>
  <h3> Your Go-To App for Dessert Discovery!
  </h3>
  <p>Explore a delightful collection of desserts! Quickly find out the names of your favorite treats and whether they’re ready to eat.
  </p>
</body>
</html>