<body style="text-align: center; background-color: rgb(223, 190, 211); color: rgb(109, 20, 57);">
  <a href="/deserts">Back to Desserts</a>

  <h1>Edit <%= desert.name %></h1>
  <form action="/deserts/<%=desert._id%>?_method=PUT" method="POST">
    <label for="name">Dessert name:</label>
    <input type="text" name="name" id="name" value="<%= desert.name %>" />
    <br>
    <br>
    <label for="isReadyToEat">Ready to Eat?</label>
    <input type="checkbox" name="isReadyToEat" id="isReadyToEat"
    <% if(desert.isReadyToEat){%> checked <%} %>
    />
    <br>
    <br>
    <!-- update the button text -->
    <button style="border: 2px solid purple; padding: 10px; border-radius: 10px;
  background-color: #7d1d45; color:rgb(250, 215, 243);" type="submit">Update Desert</button>
  </form>
</body>