<body style="text-align: center; background-color: rgb(223, 190, 211); color: #6d1439;">
    <!-- navigation -->
    <a href="/deserts/new">Add New Desert</a>

<h1>All Deserts</h1>
<ul style="list-style: none;">
  
<% 
  deserts.forEach(desert => {%><br/>
  <a href="/deserts/<%= desert._id %>" style="color: rgb(253, 228, 244); text-decoration: none;">
    <li style="border: 2px solid purple; padding: 10px; border-radius: 10px;
    background-color: #7d1d45; "><%= desert.name %></li>
  </a>
  <%});
  
  %>

</ul>


</body>