<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a New Dessert</title>
</head>
<body style="text-align: center; background-color: rgb(223, 190, 211); color: rgb(109, 20, 57);">
    <!-- navigation -->
    <a href="/deserts/">Back to Desserts</a>

  <h1> Add a New Desert!</h1>
  <form action="/deserts" method="post">
    <label for="name">Dessert Name:</label>
    <input type="text" name="name" id="id"/>
    <br>
    <br>
    <label for="isReadyToEat">Ready To Eat?</label>
    <input type="checkbox" name="isReadyToEat" id="isReadyToEat"/>
    <br>
    <br>
    <button style="border: 2px solid purple; padding: 10px; border-radius: 10px;
  background-color: #7d1d45; color:rgb(250, 215, 243);" type="submit">Add A Dessert</button>

  </form>
</body>
</html>